---
layout: default
---

<div class="left-column col-md-3 col-md-offset-1">
  <h1>code</h1>
  <div class="row">
    <div class="column-scroll col-md-12">
      <div class="column-inner">
        {% for post in site.categories.code %}
        <div class="post-summary">
          <!-- <h2><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h2> -->
          <h2>{{ post.title }}</h2>
          <p>
          <a class="code-summary-repo-link" target="_blank" href="{{ post.repo_url }}">{{ post.repo_url }}</a>
          {{ post.description }}
          <div class="post-summary-tags">
            {% for tech in post.tech %}
            <span class="label label-info">{{ tech }}</span>
            {% endfor %}
          </div>
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="right-column col-md-4">
  <h1>paint</h1>
  <div class="row">
    <div class="column-scroll col-md-12">
      <div class="column-inner">
        {% for post in site.categories.paint %}
        <div class="post-summary">
          <h2><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h2>
          <img class="thumbnail" src="{{ post.thumbnail_url }}" />
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="right-column col-md-3">
  <h1>words</h1>
  <div class="row">
    <div class="column-scroll col-md-12">
      <div class="column-inner">
        {% for post in site.categories.words %}
        <div class="post-summary">
          <h2><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h2>
          {{ post.summary }}<br>
          <div class="post-summary-tags">
            {% for tag in post.tags %}
            <span class="label label-info">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
