<footer>
  &copy; Russell Dunphy 2016 | <a target="_blank" href="//rsslldnphy.com/squares-colours">squares+colours</a> | <a target="_blank" href="//rsslldnphy.com/cv.html">cv</a>
</footer>

<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>

<script type="text/javascript">
$(function (){
  $('.section-tab-title a').on('click', function(e){
    $('.section-tab-title').removeClass('active');
    $('.tab-body').removeClass("hidden-sm hidden-xs").addClass("hidden-sm hidden-xs");
    $(e.target).closest('.section-tab-title').addClass('active');
    var url = e.target.href;
    var hash = url.substring(url.indexOf("#"));
    $(hash).removeClass("hidden-sm hidden-xs");
    e.preventDefault();
  });
  $('.section-tab-title a:first').click();
});
</script>
