<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a class="navbar-brand-link" href="{{site.baseurl}}/">rsslldnphy.com</a>
      </div>
    </div>
  </nav>
  <nav class="navbar-secondary">
    <ul class="social-media-links">
      <li>
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
