.left-column
  text-align: right
  border-right: 1px solid #eb6864

.left-column, .right-column
  height: calc(100vh - 180px)
  overflow: hidden

.column-scroll
  height: calc(100vh - 230px)
  overflow: auto

.left-column h1, .right-column h1
  font-family: 'Quicksand'
  color: #666
  font-size: 1.5em
  margin-top: 0
  padding-bottom: 15px
