#main-content
  margin-top: 130px

.navbar-header
  text-align: center
  width: 100%

.navbar-brand
  font-family: 'Quicksand'
  float: none
  display: inline-block
  float: none
  padding: 0

.navbar-brand-link
  display: block
  padding: 19.5px 15px

.navbar-secondary
  text-align: center
  width: 100%
  position: fixed
  top: 70px

.social-media-links
  list-style: none
  padding-left: 0
  li
    font-size: 1.25em
    display: inline-block
    margin: 10px
