.post-summary
  margin-bottom: 30px

.post-summary-tags
  margin-top: 10px

.post-summary .label
  font-family: sans-serif

.code-summary-repo-link
  display: block

.post-link
  font-size: 18px
  color: #666
