---
layout: default
---
<div class="post col-md-12">
<article>

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline"><a href="{{ site.baseurl}}/">rsslldnphy.com</a> <span class="arrow">&gt;</span> words <span class="arrow">&gt;</span> <span class="actual-post-title">{{ page.title }}</span></h1>
  </header>

  <div class="row">
    <div class="column-scroll">
    <div class="poem-content-wrapper col-md-6 col-md-offset-3">
      <div class="column-inner poem-content" itemprop="articleBody">
        {{ content }}
      </div>
    </div>
    </div>
  </div>

</article>
</div>
