---
layout: default
---
<div class="post col-md-6 col-md-offset-3">
<article>

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline"><a href="{{ site.baseurl}}/">rsslldnphy.com</a> &gt; <a href="{{site.base_url}}/words">words</a> &gt; <span class="actual-post-title">{{ page.title }}</span></h1>
  </header>

  <div class="row">
    <div class="column-scroll poem-content-wrapper col-md-12">
      <div class="column-inner poem-content" itemprop="articleBody">
        {{ content }}
      </div>
    </div>
  </div>

</article>
</div>
