#me {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

#me img {
  position: absolute;
  bottom: -55px;
  right: -9%;
  width: 70vw;
}

#navbar {
  position: fixed;
  width: 100%;
  text-align: right;
  right: 15px;
  bottom: 60px;
}

@media(max-width: 1048px) {
  #navbar {
    top: 10px;
  }
}

@media(max-width: 768px) {
  #me { display: none; }
}

#navbar .title {
  font-size: 1.5em;
}

#navbar .sections {
  margin-top: 15px;
}

#navbar a {
  color: #eb6864;
  font-family: Quicksand, sans-serif;
}

.story a {
  color: #333;
}
